provider "aws" {
  region = "{{ region }}"
}

resource "aws_s3_bucket" "this" {
  bucket = "{{ bucket_name }}"
}

resource "aws_s3_bucket_acl" "this" {
  bucket = aws_s3_bucket.this.id
  acl    = "{{ acl }}"
}